- suggestion_sets.each do |suggestion_set|
  - suggestions = suggestion_set.suggestions
  .clear
  = suggestion_set_hr(suggestion_set)
  .suggestions_table
    .total="#{suggestions.count} Title#{suggestions.count == 1 ? '' : 's'} - Cluster Mode"
    %table.sortable.zebra-striped
      %thead
        %tr
          %th.votes.header Votes
          %th.header Title
          %th.header User
          %th.header When
      %tbody
        - suggestions.each do |suggestion|
          - if suggestion.in_cluster?
            - if suggestion.top_of_cluster?
              %tr{:class => "cluster-top", :id => "cluster-#{suggestion.cluster_id}"}
                = haml :'suggestion/_cluster_table_row', :locals => {suggestion: suggestion}
              - suggestion.cluster.suggestions.each do |child_suggestion|
                - if child_suggestion.id != suggestion.id 
                  %tr{:class => "expand-child child-cluster-#{child_suggestion.cluster_id}"}
                    = haml :'suggestion/_cluster_table_row', :locals => {suggestion: child_suggestion}
          - else
            %tr
              = haml :'suggestion/_cluster_table_row', :locals => {suggestion: suggestion}
