- suggestion_sets.each do |suggestion_set|
  - suggestions = suggestion_set.suggestions
  .clear
  = suggestion_set_hr(suggestion_set)
  .suggestions_table
    .total="#{suggestions.count} Title#{suggestions.count == 1 ? '' : 's'}"
    %table.sortable.zebra-striped
      %thead
        %tr
          %th.votes.header= t('views.suggestion._table_set.Votes')
          %th.header= t('views.suggestion._table_set.Title')
          %th.header= t('views.suggestion._table_set.User')
          %th.header= t('views.suggestion._table_set.When')
      %tbody
        - suggestions.each do |suggestion|
          %tr
            = haml :'suggestion/_table_row', :locals => {suggestion: suggestion}
